<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head_words.ejs %>
  </head>
  <body class="container" style="background-color:<%=foundWord.hex%>">
    <h1><%=foundWord.name%></h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main class="text-box">
      <section>
        <div class="content">
          <span class="text-label">Hex Color Code:</span>
          <span style="color:<%=foundWord.hex%>"><%=foundWord.hex%></span><br/>
          <span class="text-label">Color Family:</span>
          <a style="color:<%=foundColor.hex%>" href="/roygbiv/<%=foundColor._id%>"><%=foundColor.name%></a>
        </div>
      </section>
      <section class="edit-delete">
        <form class="show-form" action="/words/<%=foundWord._id%>?_method=DELETE" method="post">
            <input id="edit-delete-button" type="submit" value="delete"/>
        </form>
        <a href="/words/<%=foundWord._id%>/update">edit</a>
      </section>
    </main>
  </body>
</html>
