<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Show Page for <%=word.name%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/words">word Index</a></li>
      </ul>
    </nav>
    <main>
      <section>
        Color: <%=word.name%>
        Hex: <%=word.hex%>
        Family: <a href="/roygbiv/<%=color._id%>"><%=color.name%></a>
      </section>
      <section>
        <form action="/words/<%=word._id%>?_method=DELETE" method="post">
            <input type="submit" value="Delete Word"/>
        </form>
      </section>
      <section>
        <a href="/words/<%=word._id%>/update">Update</a>
      </section>
    </main>
  </body>
</html>
