<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container edit">
    <h1>Edit Thesaurs Word</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
      <form action="/words/<%=word._id%>?_method=PUT" method="POST">
        <label for="select">Color Family</label>
        <select name="colors">
          <% for(let i = 0; i < colors.length; i++) { %>
            <option
            value="<%=colors[i]._id%>"
              <% if (colors[i]._id.toString() === word.color.toString()) { %>
                selected
              <% } %>
              >
              <%=colors[i].name%>
            </option>
          <% } %>
        </select><br/>
        <label for="color_name">Color Name</label>
        <input type="text" name="name" value="<%=word.name%>"/>
        <label for="hex_code">Hex Color Code</label>
        <input type="text" name="hex" value="<%=word.hex%>"/>
        <input id="edit-submit" type="submit" value="Submit Changes" />
      </form>
    </main>
  </body>
</html>
