<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body style="background-color:<%=color.hex%>">
    <h1>Show Page for <%=color.name%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/roygbiv">ROYGBIV Index</a></li>
      </ul>
    </nav>
    <main class="text-box">
      <section>
        Color: <%=color.name%>
        Hex: <%=color.hex%>
        Description: <%=color.description%>
      </section>
      <section>
        <h2>Colors in this Family:</h2>
        <ul>
          <% for (let i = 0; i < color.words.length; i++) { %>
            <div style="background-color:<%=color.words[i].hex%>" class="word-grid">
              <a href="/words/<%=color.words[i]._id%>"><%=color.words[i].name%></a>
            </div>
          <% } %>
        </ul>
      </section>
      <section>
        <form action="/roygbiv/<%=color._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete <%=color.name%>">
        </form>
      </section>
      <section>
        <a href="/roygbiv/<%=color._id%>/update">Update</a>
      </section>
    </main>
  </body>
</html>
