<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container" style="background-color:<%=color.hex%>">
    <h1><%=color.name%></h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main class="text-box">
      <section>
        <div class="content">
          <span style="color:<%=color.hex%>" class="text-label">Hex Color Code: <%=color.hex%></span>
        </div>
        <div class="content">
          <span><%=color.description%></span><br/>
        </div>
      </section>
      <main>
        <ul>
            <div style="background-color:<%=word.hex%>" class="word-grid">
              <a href="/words/<%=word._id%>"><%=word.name%></a>
            </div>
        </ul>
      </main>
    </main>
  </body>
</html>
