<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container" style="background-color:<%=color.hex%>">
    <h1><%=color.name%></h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main class="text-box">
      <section>
        <div class="content">
          <span class="text-label">Hex Color Code: <%=color.hex%></span>
        </div>
        <div class="content">
          <span><%=color.description%></span><br/>
        </div>
      </section>
      <section>
        <ul>
          <% for (let i = 0; i < color.words.length; i++) { %>
            <div style="background-color:<%=color.words[i].hex%>" class="word-grid">
              <a href="/words/<%=color.words[i]._id%>"><%=color.words[i].name%></a>
            </div>
          <% } %>
        </ul>
      </section>
      <!-- <section>
        <form action="/roygbiv/<%=color._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete <%=color.name%>">
        </form>
      </section>
      <section>
        <a href="/roygbiv/<%=color._id%>/update">Update</a>
      </section> -->
    </main>
  </body>
</html>
