<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="container">
    <h1>edit a ROYGBIV</h1>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <main>
      <form action="/roygbiv/<%=color._id%>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%=color.name%>"/>
        <input type="text" name="hex" value="<%=color.hex%>"/>
        <input type="text" name="description" value="<%=color.description%>"/>
        <input type="submit" value="Update <%=color.name%>" />
      </form>
    </main>
  </body>
</html>
